/* Autor: Michel Bianchi */
/* Faculdade de Belas Artes da Universidade do Porto */
/* Data de criação: 04/01/2024 */
/* Data da última modificação:  */

/* Variáveis */
:root {
  --background-color: #010412;
  --main-color: #32f6f4;
  --secondary-color: #7efefd;
  --lighter-color: #31636b;
  --gradient-color: linear-gradient(45deg, #32f6f4, #11508b);
  --font-size: 16px;
  --text-color: #e8e9eb;
}

/* Fontes utilizadas */
@font-face {
  font-family: "Bricolage Grotesque", "Trebuchet MS", Helvetica, sans-serif;
  src: local(Bricolage Grotesque)
    url(https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,700&display=swap)
    format("opentype");
}

@font-face {
  font-family: "Inter", "Roboto", Arial, Helvetica, sans-serif;
  src: local(Inter)
    url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 1em;
  background-color: var(--background-color);
}

/* Versão telemóvel */
@media screen and (max-width: 876px) {
  h1 {
    font-family: "Bricolage Grotesque";
    font-size: 2.25em;
    color: var(--text-color);
  }
  h2 {
    font-family: "Bricolage Grotesque";
    font-size: 1.75em;
    color: var(--text-color);
  }
  h3 {
    font-family: "Bricolage Grotesque";
    font-size: 1rem;
    color: var(--text-color);
  }
  h4 {
    font-family: "Bricolage Grotesque";
    font-size: 0.875em;
    color: var(--text-color);
  }
  p {
    font-family: "Inter";
    font-size: 0.875em;
    color: var(--text-color);
    line-height: 1.3em;
  }

  body {
    width: 100vw;
  }

  /* ------------------ modificações no .hero---------------- */

  .hero {
    border: #32f6f4 3px solid;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }

  /* esta ilustração só aparece na versão desktop */
  .hero figure:nth-of-type(2) {
    display: none;
  }

  /* Barra decorativa da esquerda */
  .hero figure:nth-of-type(1) img:first-child {
    position: absolute;
    top: 20vh;
    left: 0;
    width: 25%;
  }

  /* barra decorativa da direita */
  .hero figure:nth-of-type(1) img:last-child {
    position: absolute;
    top: 70vh;
    right: 0;
    width: 25%;
  }

  /* Título */
  .hero h1 {
    width: 70%;
    text-align: center;
  }

  /* Sublinhado do título */
  .textgradient {
    border-radius: 10px;
    background-image: var(--gradient-color);
    background-repeat: no-repeat;
    background-size: 100% 4px;
    background-position: left bottom;
  }

  /* --------------- MODIFICAÇÕES NO .CONTEXT ----------------*/
  .context {
    border: #32f6f4 3px solid;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }

  /* contentor do texto */
  .context-div {
    width: 100%;
    margin-top: 20%;
    line-height: 1em;
  }

  /* alterei somente a cor do h3 */
  .context-div h3 {
    color: var(--main-color);
  }

  /* Espaço entre o h3 e o h2 */
  .context-div h3,
  h2 {
    line-height: 1em;
    padding-bottom: 15px;
  }

  /* Manupulação da ilustração */
  .context figure img {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 50%;
    max-width: 85%;
    margin-top: 10vh;
  }

  /* ------------------- MODIFICAÇÕES NO .PROJECTS------------- */
  .projects {
    border: #32f6f4 3px solid;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 180vh;
    width: 100%;
  }

  /* Titulo da section */
  .projects > h3:nth-of-type(1) {
    text-align: center;
    padding: 40px 0px;
    font-size: 1.2em;
  }

  /* Cards dos projetos */
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40%;
    padding-left: 24px;
    padding-right: 30px;
    margin-bottom: 30px;

    list-style: none;
  }

  /* Somente versão desktop */
  .cards a:nth-of-type(1) {
    display: none;
  }

  /* Cor do número do card */
  .cards a h2 {
    color: var(--background-color);
  }

  /* Fundo do numero de cada card */
  .cards a:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    background-image: var(--gradient-color);
    text-decoration: none;
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 10px;
    width: 30%;
  }

  /* Textos de cada card */
  .cards-text {
    line-height: 1em;
    margin-left: 20px;
    min-width: 40%;
    max-width: 70%;
    line-height: 1em;
  }

  /* Espaçamento entre o h3 e o paragrafo */
  .cards-text h3,
  p {
    padding-bottom: 10px;
    margin-right: 0px;
  }

  .cards-text h3 {
    padding-top: 12px;
  }

  .cards .cards-text a p {
    color: var(--main-color);
  }

  /* Botão "Confira aqui" */
  .cards .cards-text a {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-decoration: none;
    font-family: "Inter";
    font-weight: 600;
    font-size: 1em;
    padding-top: 10px;
  }

  /* -------------------- MODIFICAÇÕES NO .ABOUT -------------------- */
  .about {
    border: #32f6f4 3px solid;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }

  .leftAbout figure {
    width: 100%;
  }

  .leftAbout figure img {
    width: 30%;
  }
}

@media screen and (min-width: 877px) {
  h1 {
    font-family: "Bricolage Grotesque";
    font-size: 4em;
    color: var(--text-color);
  }
  h2 {
    font-family: "Bricolage Grotesque";
    font-size: 3em;
    color: var(--text-color);
  }
  h3 {
    font-family: "Bricolage Grotesque";
    font-size: 1.8em;
    color: var(--text-color);
    background-image: linear-gradient(
      45deg,
      var(--main-color) 0%,
      var(--secondary-color) 29%,
      var(--lighter-color) 67%,
      var(--main-color) 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  h4 {
    font-family: "Bricolage Grotesque";
    font-size: 1.5em;
    color: var(--text-color);
  }
  p {
    font-family: "Inter";
    font-size: 1em;
    color: var(--text-color);
    line-height: 1.3em;
  }

  .nav-bar .logo h3 {
    font-size: 2.7em;
  }

  /* Estilização do header/menu */

  /* Animação de cor baseado no código: https://codepen.io/alvarotrigo/pen/PoKMyNO (faz parte do artigo sobre animações em css https://alvarotrigo.com/blog/css-text-animations/) */

  /* Tentei first child mas não funcionou. Então procurei no MDN alguns atributos e este funcionou para esconder a visualização no modo desktop */
  /* fonte: https://developer.mozilla.org/en-US/docs/Web/CSS/:first-of-type */

  /* Edição da secção hero  */
  .hero figure:first-of-type {
    display: none;
  }
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
  }

  .hero h1 {
    width: 40%;
    margin-left: 6%;
  }

  .hero > figure:nth-of-type(2) {
    margin-right: 10%;
  }

  /* Tinha criado um elementro grafico no Figma para fazer este efeito de sublinhado, mas como gostava de colocar um efeito sublinhado com gradient como fiz no meu exercício 4, e para isto ocorrer, teria que fazer com código. Então usei o mesmo tutorial do exercício 4 mas agora sem o hover */
  /* Fonte: https://www.youtube.com/watch?v=zl0Z8CYQoIc&ab_channel=MarioSouto-DevSoutinho */
  .textgradient {
    border-radius: 10px;
    background-image: var(--gradient-color);
    background-repeat: no-repeat;
    background-size: 100% 4px;
    background-position: left bottom;
  }

  /* Usei o nth-of-type para selecionar um figure específico dentro da meu section .hero */
  /* Fonte: https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-of-type */
  /* Posicionamento da ilustração */

  /* Modificações no .context */
  .context {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
  }

  .context-div {
    justify-content: space-around;
    flex-direction: column;
    align-content: space-between;
    width: 33%;
    height: 50%;
    margin-top: 0vh;
  }

  .context-div h2,
  p {
    padding-top: 20px;
  }

  .context-div h4 {
    color: var(--main-color);
  }

  .context-div p {
    line-height: 1.3em;
  }

  /* ---------------MODIFICAÇÕES NO .PROJECTS --------------------*/
  .projects {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 130vh;
    padding-left: 40px;
    padding-right: 40px;
  }

  /* Faz com que somente o h3 "Projetos" seja referenciado a o topo do section*/
  .projects > h3:first-of-type {
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 30px;
    left: 45%;
  }

  .cards > a:nth-of-type(2) {
    display: none;
  }
  .cards .cards-text a {
    display: none;
  }

  .cards {
    display: flex;
    flex-direction: column;
    margin-top: 10px; /* margin em relação ao topo */
    margin-left: 40px; /* Espaçamento entre os cards*/
    height: 70%;
    width: 40%;
  }

  /* Deixei o primeiro elemento sem o margin, pois só preciso do margin para espaçar os elementos entre si */
  .cards:first-of-type {
    margin-left: 0px;
  }

  .cards a {
    display: flex;
    width: 100%;
    height: 60%;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--main-color);
    background-image: var(--gradient-color);
  }

  .cards a h2 {
    color: var(--background-color);
  }

  .cards a:nth-of-type(1):hover {
    background-image: var(--background-color);
  }

  /* Margem do h3 em relação ao card */
  .cards h3 {
    padding-top: 20px;
  }

  .cards p {
    line-height: 1.3em;
  }

  /* ------------------ MODIFICAÇÕES NO .ABOUT---------------- */
  .about {
    position: relative;
    height: 100vh;
  }

  /* Lado esquerdo da página */
  .leftAbout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
    width: 29%;
  }

  .leftAbout h3 {
    padding-bottom: 20px;
    color: var(--main-color);
  }

  .leftAbout h1 {
    padding-bottom: 20px;
  }

  /* Lado direito da página */
  .rightAbout {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    top: 270px;
    right: 8%;
  }

  .rightAbout ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .rightAbout ul li:not(:last-child) {
    padding-bottom: 2rem;
    border-bottom: 1.5px solid var(--lighter-color);
  }

  .rightAbout ul li:not(:first-child) {
    padding-top: 2rem;
  }

  .rightAbout ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .rightAbout ul li p {
    font-weight: 700;
  }

  /* Parte de baixo do .about */
  .bottomAbout {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    width: 81.5%;
    margin-left: 10%;
    margin-top: 40px;
    border-top: 1.5px solid var(--lighter-color);
    border-bottom: 1.5px solid var(--lighter-color);
  }

  .bottomAbout ul {
    display: block;
    width: 30%;
    margin-left: 10px;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  /* Edição dos links para o Instragram e Becance */
  .bottomAbout ul li a {
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
    margin: 1.3em 0 1.3em 0px;
  }

  .bottomAbout ul li a svg {
    fill: var(--secondary-color);
  }

  .bottomAbout ul li a {
    font-family: "Inter";
    font-size: 1em;
    color: var(--text-color);
    transition: 0.3s;
  }

  .bottomAbout a:hover {
    color: var(--main-color);
    opacity: 1;
  }

  .bottomAbout ul > li:first-of-type span {
    font-family: "Inter";
    font-size: 1.1em;
    font-weight: 600;
    color: var(--text-color);
  }

  .bottomAbout p:last-of-type {
    text-align: center;
    width: 30%;
    margin-bottom: 0px;
  }

  /* Texto do .bottomAbout */
  .bottomAbout p span {
    background-image: var(--gradient-color);
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
    font-weight: 700;
    transition: background-size 0.5s ease;
  }

  /* Aparece sublinhado no "fins de estudo" */
  .bottomAbout p span:hover {
    background-size: 100% 2px;
  }

  /* Hover do botão topo */
  .bottomAbout a {
    opacity: 0.5;
  }

  footer {
    display: block;
    position: relative;
    height: 10vh;
    text-align: center;
    top: 16.5%;
    transition: 0.8s all;
  }

  footer:hover {
    background-color: var(--main-color);
    background-image: var(--gradient-color);
  }

  /* https://icons.getbootstrap.com/icons/arrow-up/ */
  /* https://www.google.com/search?q=como+mudar+a+cor+de+um+icone+bootstrap+css&oq=como+mudar+a+cor+de+um+icone+bootstrap+&gs_lcrp=EgZjaHJvbWUqBwgDECEYoAEyCQgAEEUYORifBTIHCAEQIRigATIHCAIQIRigATIHCAMQIRigATIHCAQQIRigAdIBCTE0NDQyajBqN6gCALACAA&sourceid=chrome&ie=UTF-8 */
}
