/* Autor: Michel Bianchi */
/* Faculdade de Belas Artes da Universidade do Porto */
/* Data de criação: 04/01/2024 */
/* Data da última modificação:  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variáveis */
:root {
  --background-color: #010412;
  --main-color: #32f6f4;
  --secondary-color: #7efefd;
  --lighter-color: #31636b;
  --gradient-color: linear-gradient(45deg, #32f6f4, #11508b);
  --font-size: 16px;
  --text-color: #e8e9eb;
}

/* Fontes utilizadas */
@font-face {
  font-family: "Bricolage Grotesque", "Trebuchet MS", Helvetica, sans-serif;
  src: local(Bricolage Grotesque)
    url(https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,700&display=swap)
    format("opentype");
}

@font-face {
  font-family: "Inter", "Roboto", Arial, Helvetica, sans-serif;
  src: local(Inter)
    url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
}

html,
body {
  position: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 1em;
  background-color: var(--background-color);
}

/* Versão telemóvel */
@media screen and (min-width: 320px) and (max-width: 430px) {
  .maintence {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .maintence img {
    position: absolute;
    width: 80%;
    top: 21%;
    right: 6%;
  }

  .maintence h1 {
    position: absolute;
    color: var(--text-color);
    font-size: 1.4em;
    font-family: "Bricolage Grotesque";
    top: 60%;
    right: 10%;
  }

  .maintence p {
    position: absolute;
    color: var(--text-color);
    font-size: 1em;
    font-family: "Inter";
    top: 67%;
    right: 25%;
  }

  /* Maintence on/off */

  /* .maintence {
    display: none;
  } */

  .menu,
  main,
  footer {
    display: none;
  }
}

@media screen and (min-width: 1020px) {
  h1 {
    font-family: "Bricolage Grotesque";
    font-size: 4em;
    color: var(--text-color);
  }
  h2 {
    font-family: "Bricolage Grotesque";
    font-size: 3em;
    color: var(--text-color);
  }
  h3 {
    font-family: "Bricolage Grotesque";
    font-size: 2em;
    color: var(--text-color);
  }
  h4 {
    font-family: "Bricolage Grotesque";
    font-size: 1.5em;
    color: var(--text-color);
  }
  p {
    font-family: "Inter";
    font-size: 1em;
    color: var(--text-color);
  }

  /* Estilização do header/menu */
  .menu {
    position: relative;
    width: 100%;
  }

  /* Menu hamburguer só aparece na versão de telemovel */
  .menu figure {
    display: none;
  }

  /* Tentei usar flexbox no nav, para facilitar o posicionamento automatico do conteudo */
  .menu ul {
    display: flex;
    padding: 40px 0 0px 60px;
    justify-content: flex-end; /* deixei todos colados à direita */
    align-items: center; /* aqui é para centralizar todos na horizontal */
  }

  /* espaçamento entre os itens da direita */
  .menu ul li {
    margin-right: 5rem;
  }

  .menu ul li a {
    text-decoration: none;
  }

  .menu ul li a h3:hover {
    text-decoration: none;
    transition: all 0.3s ease-out; /* coloquei um efeito de transição para o hover */
    color: var(--main-color);
  }

  .menu ul li:first-child {
    margin-right: auto;
    margin-left: 2rem; /* faz com que somente o h3 fique para a esquerda */

    /* Animação de cor baseado no código: https://codepen.io/alvarotrigo/pen/PoKMyNO (faz parte do artigo sobre animações em css https://alvarotrigo.com/blog/css-text-animations/) */
    background-image: linear-gradient(
      45deg,
      var(--main-color) 0%,
      var(--secondary-color) 29%,
      var(--lighter-color) 67%,
      var(--main-color) 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  /* Tentei first child mas não funcionou. Então procurei no MDN alguns atributos e este funcionou para esconder a visualização no modo desktop */
  /* fonte: https://developer.mozilla.org/en-US/docs/Web/CSS/:first-of-type */
  .hero figure:first-of-type {
    display: none;
  }

  /* Edição da secção hero  */
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
  }

  .hero h1 {
    width: 40%;
    margin-left: 6%;
  }

  .hero > figure:nth-of-type(2) {
    margin-right: 10%;
  }

  /* Tinha criado um elementro grafico no Figma para fazer este efeito de sublinhado, mas como gostava de colocar um efeito sublinhado com gradient como fiz no meu exercício 4, e para isto ocorrer, teria que fazer com código. Então usei o mesmo tutorial do exercício 4 mas agora sem o hover */
  /* Fonte: https://www.youtube.com/watch?v=zl0Z8CYQoIc&ab_channel=MarioSouto-DevSoutinho */
  .textgradient {
    border-radius: 10px;
    background-image: var(--gradient-color);
    background-repeat: no-repeat;
    background-size: 100% 4px;
    background-position: left bottom;
  }

  /* Usei o nth-of-type para selecionar um figure específico dentro da meu section .hero */
  /* Fonte: https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-of-type */
  /* Posicionamento da ilustração */

  /* Modificações no .context */
  .context {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }

  .context-div {
    justify-content: space-around;
    flex-direction: column;
    align-content: space-between;
    width: 33%;
    height: 50%;
    margin-top: 10vh;
  }

  .context-div h2,
  p {
    padding-top: 20px;
  }

  .context-div h4 {
    color: var(--main-color);
  }

  .context-div p {
    line-height: 1.3em;
  }

  /* ---------------MODIFICAÇÕES NO .PROJECTS --------------------*/
  .projects {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 130vh;
    padding-left: 40px;
    padding-right: 40px;
  }

  /* Faz com que somente o h3 "Projetos" seja referenciado a o topo do section*/
  .projects > h3:first-of-type {
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 40px;
    left: 45%;
    background-image: var(--gradient-color);
    background-repeat: no-repeat;
    background-size: 100% 3px;
    background-position: left bottom;
  }

  .cards {
    display: flex;
    flex-direction: column;
    margin-top: 80px; /* margin em relação ao topo */
    margin-left: 40px; /* Espaçamento entre os cards*/
    height: 70%;
    width: 40%;
  }

  /* Deixei o primeiro elemento sem o margin, pois só preciso do margin para espaçar os elementos entre si */
  .cards:first-of-type {
    margin-left: 0px;
  }

  .cards a {
    width: 100%;
    height: 60%;
    border-radius: 30px;
    padding-top: 50%;
    text-align: center;
    text-decoration: none;
    background-color: var(--main-color);
    background-image: var(--gradient-color);
  }

  .cards a h2 {
    color: var(--background-color);
  }

  .cards a:nth-of-type(1):hover {
    background-image: var(--background-color);
  }

  /* Margem do h3 em relação ao card */
  .cards h3 {
    padding-top: 20px;
  }

  .cards p {
    line-height: 1.3em;
  }

  /* ------------------ MODIFICAÇÕES NO .ABOUT---------------- */
  .about {
    position: relative;
    height: 100vh;
  }

  /* Lado esquerdo da página */
  .leftAbout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
  }

  .leftAbout h3 {
    padding-bottom: 20px;
    font-size: 1.5em;
    color: var(--main-color);
  }

  .leftAbout h1 {
    padding-bottom: 20px;
  }

  /* Lado direito da página */
  .rightAbout {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    top: 350px;
    right: 8%;
    top: 240px;
  }

  .rightAbout ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .rightAbout ul li:not(:last-child) {
    padding-bottom: 2rem;
    border-bottom: 1.5px solid var(--lighter-color);
  }

  .rightAbout ul li:not(:first-child) {
    padding-top: 2rem;
  }

  .rightAbout ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .rightAbout ul li p {
    font-weight: 700;
  }

  /* Parte de baixo do .about */
  .bottomAbout {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    width: 81.5%;
    margin-left: 10%;
    margin-top: 40px;
    border-top: 1.5px solid var(--lighter-color);
    border-bottom: 1.5px solid var(--lighter-color);
  }

  .bottomAbout ul {
    display: block;
    width: 30%;
    margin-left: 10px;
    padding-top: 20px;
  }

  /* Edição dos links para o Instragram e Becance */
  .bottomAbout ul li a {
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
    margin: 1.3em 0 1.3em 0px;
  }

  .bottomAbout ul li a svg {
    fill: var(--secondary-color);
  }

  .bottomAbout ul li a {
    font-family: "Inter";
    font-size: 1em;
    color: var(--text-color);
    transition: 0.3s;
  }

  .bottomAbout a:hover {
    color: var(--main-color);
    opacity: 1;
  }

  .bottomAbout ul > li:first-of-type span {
    font-family: "Inter";
    font-size: 1.1em;
    font-weight: 800;
    color: var(--text-color);
  }

  .bottomAbout p:last-of-type {
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
  }

  /* Texto do .bottomAbout */
  .bottomAbout p span {
    background-image: var(--gradient-color);
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
    font-weight: 600;
    transition: background-size 0.5s ease;
  }

  /* Aparece sublinhado no "fins de estudo" */
  .bottomAbout p span:hover {
    background-size: 100% 2px;
  }

  /* Hover do botão topo */
  .bottomAbout a {
    opacity: 0.5;
  }

  footer {
    display: block;
    position: relative;
    height: 8vh;
    text-align: center;
    top: 14.2%;
    transition: 0.8s all;
  }

  footer:hover {
    background-color: var(--main-color);
    background-image: var(--gradient-color);
  }

  /* https://icons.getbootstrap.com/icons/arrow-up/ */
  /* https://www.google.com/search?q=como+mudar+a+cor+de+um+icone+bootstrap+css&oq=como+mudar+a+cor+de+um+icone+bootstrap+&gs_lcrp=EgZjaHJvbWUqBwgDECEYoAEyCQgAEEUYORifBTIHCAEQIRigATIHCAIQIRigATIHCAMQIRigATIHCAQQIRigAdIBCTE0NDQyajBqN6gCALACAA&sourceid=chrome&ie=UTF-8 */

  /* Display on/off do site em manutenção */
  .maintence {
    display: none;
  }

  /* .menu,
  main,
  footer {
    display: none;
  } */

  .maintence {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .maintence img {
    position: absolute;
    width: 550px;
    top: 12%;
    right: 34%;
  }

  .maintence h1 {
    position: absolute;
    top: 68%;
    right: 27%;
  }

  .maintence p {
    position: absolute;
    font-size: 2.2em;
    top: 80%;
    right: 40%;
  }
}
