/* Autor: Michel Bianchi */
/* Faculdade de Belas Artes da Universidade do Porto */
/* Data de criação: 04/01/2024 */
/* Data da última modificação:  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variáveis */
:root {
  --background-color: #010412;
  --main-color: #32f6f4;
  --secondary-color: #7efefd;
  --lighter-color: #31636b;
  --gradient-color: linear-gradient(to right, #32f6f4, #11508b);
  --font-size: 16px;
  --text-color: #e8e9eb;
}

/* Fontes utilizadas */
@font-face {
  font-family: "Vinila Bold";
  src: url(/assets/media/font/Vinila_Bold.otf) format("opentype");
}

@font-face {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
}

html,
body {
  position: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: var(--background-color);
}

/* Versão telemóvel */
@media screen and (min-width: 320px) and (max-width: 430px) {
  .menu,
  main,
  footer {
    display: none;
  }

  .maintence {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .maintence img {
    position: absolute;
    width: 350px;
    top: 21%;
    left: 5%;
  }

  .maintence h1 {
    position: absolute;
    color: var(--text-color);
    font-size: 1.8em;
    font-family: "Vinila";
    top: 60%;
    left: 12%;
    width: 100%;
  }

  .maintence p {
    position: absolute;
    color: var(--text-color);
    font-size: 1em;
    font-family: "Inter";
    top: 67%;
    left: 30%;
  }
}

@media screen and (min-width: 1020px) {
  h1 {
    font-family: "Vinila";
    font-size: 4.5em;
    color: var(--text-color);
  }
  h2 {
    font-family: "Vinila";
    font-size: 3em;
    color: var(--text-color);
  }
  h3 {
    font-family: "Vinila";
    font-size: 2.25em;
    color: var(--text-color);
  }
  h4 {
    font-family: "Vinila";
    font-size: 1.5em;
    color: var(--text-color);
  }
  p {
    font-family: "Inter";
    font-size: 16px;
    color: var(--text-color);
  }

  .menu {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-color: brown;
  }
  .menu,
  main,
  footer {
    display: none;
  }

  .maintence {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .maintence img {
    position: absolute;
    width: 550px;
    top: 12%;
    left: 30%;
  }

  .maintence h1 {
    position: absolute;
    top: 63%;
    left: 25%;
  }

  .maintence p {
    position: absolute;
    font-size: 2.2em;
    top: 75%;
    left: 38%;
  }
}
